.restInfo {
  position: absolute;
  background: rgba(255, 255, 255, 0.7);
  overflow: hidden;
  left: 0px;
  top: 50px;
  width: 30%;
  height: calc(100% - 50px);
  animation-name: open;
  animation-duration: 1s;
  transition-timing-function: ease;
  z-index: 9998;
}

@keyframes open {
  /* keyframe */
  0% {
    width: 0%;
    visibility: visible;
  }
  /* keyframe */
  100% {
    width: 30%;
  }
}
